<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Title{% endblock %}</title>
    {% block init %}
    {% endblock %}
  </head>
  <body>
  {% block body %}
  {% endblock %}
  </body>
</html>
