{% extends "base.html" %}
{% load static %}
{% block title %}Latest Flyers{% endblock %}
{% block init %}
<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}css/hilite.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
<script type="text/javascript">
	$(document).ready(get_location);
</script>
{% endblock %}

{% block body %}
<header id="header">
</header>
<div id="main">
</div>
{% endblock %}
